<% include partials/header.ejs %>
<div class="table-wrapper">
    <% if (Item.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>

                <th scope="col">Item Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">ItemName</th>
                <th scope="col">Seller ID</th>
            </tr>
        </thead>
        <tbody>
            <% Item.forEach((item, index) => { %>
            <tr>
                <th scope="row"><%= item.ItemId %></th>

                <td><%= item.ItemType %></td>
                <td><%= item.Quantity %></td>
                <td><%= item.ItemName %></td>
                <td><%= item.SellerId %></td>
                <td>
                  <form class="add-purchase" action="" method="post" enctype="multipart/form-data">
                    <label for="quant">Buy Quantity: </label>
                    <input id="buy-quantity" type="text" name="buy-quant" value="Enter Quantity">
                    <input id="buy" type="submit" name="buy-submit" value="Buy!">
                  </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-center">No Items found. </p>
    <% } %>
</div>
</div>
<br><br><br>
       <footer class="container">
        <p class="float-right"><a href="/Prices">Back to top</a></p>
        <p>© 2019 Database Designers Pro, Inc. <!-- · <a href="#">Privacy</a> · <a href="#">Terms</a> --></p>
      </footer>



  </body>
  </html>
