<% include partials/header.ejs %>
<div class="table-wrapper">
    <% if (Item.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Price</th>
                <th scope="col">Item Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">ItemName</th>
                <th scope="col">Seller ID</th>
            </tr>
        </thead>
        <tbody>
            <% Item.forEach((item, index) => { %>
            <tr>
                <th scope="row"><%= item.ItemId %></th>
                <td><%= item.Price %></td>
                <td><%= item.ItemType %></td>
                <td><%= item.Quantity %></td>
                <td><%= item.ItemName %></td>
                <td><%= item.SellerId %></td>
               
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-center">No Items found. </p>
    <% } %>
</div>
</div>
</body>
</html>